<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileNames" type="Configuration.FileNamesConfigSection, Configuration"/>
    <section name="ServicesConfig" type="Configuration.ServicesConfigSection, Configuration"/>
    <section name="RepositoriesConfig" type="Configuration.RepositoriesConfigSection, Configuration"/>
    <section name="PortsConfig" type="Configuration.PortsConfigSection, Configuration"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FileNames>
    <Files>
      <add name="users.xml" type="userStorage" path="/data/" />
    </Files>
  </FileNames>
  <ServicesConfig>
    <Services>
      <Service id ="1" master="true" type="Services.MasterUserService" port="51000"/>
      <Service id ="2" type="Services.SlaveUserService" port="51100"/>
      <Service id ="3" type="Services.SlaveUserService" repository="Default" port="51101"/>
      <Service id ="4" type="Services.SlaveUserService" port="51102"/>
      <Service id ="5" type="Services.SlaveUserService" port="51103"/>
    </Services>    
  </ServicesConfig>
  <PortsConfig>
    <PortsSet>
      <Port val="51000"/>
      <Port val="51001"/>
      <Port val="51002"/>
      <Port val="51003"/>
    </PortsSet>
  </PortsConfig>
  <RepositoriesConfig>
    <Repositories>
      <Repository type="Repositories.UserRepository" name="Default"/>
    </Repositories>    
  </RepositoriesConfig>
  <system.diagnostics>
    <sources>
      <source name="Log" switchValue="Information" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.ConsoleTraceListener">
      </add>
    </sharedListeners>
  </system.diagnostics>

</configuration>