<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileNames" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FileNames>
    <Files>
      <add name="users.xml" type="userStorage" path="/data/" />
    </Files>
  </FileNames>
  
</configuration>